/* Global Application Styles */
/* Material theme is loaded from theme.scss */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility classes */
.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

/* Loading spinner */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

/* Error message */
.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 4px;
}
